# .ebextensions/01_environment.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    NPM_CONFIG_PRODUCTION: false
    NODE_OPTIONS: --max_old_space_size=4096 --max-http-header-size=1048576
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    Timeout: 1800
