option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 3000
    InstanceProtocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 3
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
