commands:
  01_install_dependencies:
    command: "npm ci --only=production"
    cwd: "/var/app/ondeck"
    ignoreErrors: false
  02_build_app:
    command: "npm run build"
    cwd: "/var/app/ondeck"
    ignoreErrors: false
  03_set_permissions:
    command: "chown -R webapp:webapp /var/app/ondeck"
    ignoreErrors: true
