option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    SSLCertificateId: arn:aws:acm:us-east-1:211125459951:certificate/5540afb4-ec20-4b17-94dd-e8c39949f508
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.medium
